## Part 2: Programming - Pandas

In [28]:
#Question 1
#Question: Write a Python program that accepts a decimal number and the returns the number converted to all other bases:
#(Binary (base 2), Octal (base 8), Hexadecimal (base 16))

input = 43254 #The input number as decimal: (feel free to play around)

str = bin(input) # Using Pythons built-in function bin() to show the Binary (base 2) string equivilent to the "input" value
str = str[2:] # Due to the function bin() returning a string starting with "0b", we create a substring beginning with index 2
              # (meaning the 3rd character of the string) and ending at the end of the string.
print("The number", input, "converted to Binary is: ", str) # printing the results

str = oct(input) # Using Pythons built-in function oct() to show the Octal (base 8) string equivilent to the "input" value
str = str[2:] # Due to the function oct() returning a string starting with "0o", we create a substring beginning with index 2
              # (meaning the 3rd character of the string) and ending at the end of the string (as with bin()).
print("The number", input, "converted to Octal is: ", str) # printing the results

str = hex(input) # Using Pythons built-in function hex() to show the Hexadecimal (base 16) string equivilent to the "input" value
str = str[2:] # Due to the function hex() returning a string starting with "0x", we create a substring beginning with index 2
              # (meaning the 3rd character of the string) and ending at the end of the string (as with bin() and oct()).
print("The number", input, "converted to Hexadecimal is: ", str) # printing the results

The number 43254 converted to Binary is:  1010100011110110
The number 43254 converted to Octal is:  124366
The number 43254 converted to Hexadecimal is:  a8f6

In [1]:
import pandas as pd # Importing pandas
cast = pd.read_csv('cast.csv') # importing the dataframe 'cast.csv' from the root folder
cast

,title,year,name,type,character,n
0,Suuri illusioni,1985,Homo $,actor,Guests,22.0
1,Gangsta Rap: The Glockumentary,2007,Too $hort,actor,Himself,NaN
2,Menace II Society,1993,Too $hort,actor,Lew-Loc,27.0
3,Porndogs: The Adventures of Sadie,2009,Too $hort,actor,Bosco,3.0
4,Stop Pepper Palmer,2014,Too $hort,actor,Himself,NaN
...,...,...,...,...,...,...
3333690,Stuttur Frakki,1993,Sveinbj?rg ??rhallsd?ttir,actress,Flugfreyja,24.0
3333691,Foxtrot,1988,Lilja ??risd?ttir,actress,D?ra,24.0
3333692,Niceland (Population. 1.000.002),2004,Sigr??ur J?na ??risd?ttir,actress,Woman in Bus,26.0
3333693,U.S.S.S.S...,2003,Krist?n Andrea ??r?ard?ttir,actress,Afgr.dama ? bens?nst??,17.0
3333694,Bye Bye Blue Bird,1999,Rosa ? R?gvu,actress,Pensionatv?rtinde,NaN

In [9]:
#Question 2.1
#Question: How many movies have the title "Hamlet"?

hamletCount = sum(cast.title == 'Hamlet') # using sum() to count the occurences of the value "Hamlet" int the "title" attribute
# The method checks if the title equals to "Hamlet", and summing the occurences when "true" is returned
print("The title 'Hamlet' was given to", hamletCount, 'movies') # printing the result

The title 'Hamlet' was given to 299 movies

In [23]:
#Question 2.2
#Question: List all of the "Treasure Island" movies from earliest to most recent.

byYear = cast.sort_values(by=['year']) # Sorting the original dataframe by 'year' attribute (in ascending order).
# Because there are no NaN values accredited to this attribute, there is no need to manage them. Putting the sorted dataframe
# into a new variable
byYear = byYear.groupby('title').get_group('Treasure Island') # Using the groupby method to divide the dataframe by movie
# titles, and saving the group that matches 'Treasure Island' into the same variable as the dataframe before,
# due to it being redundant
byYear # Displaying the dataframe recieved by these manipulations

,title,year,name,type,character,n
313097,Treasure Island,1918,Francis Carpenter,actor,Jim Hawkins,1.0
3280557,Treasure Island,1918,Eleanor Washington,actress,Prologue Player,NaN
2454056,Treasure Island,1918,Virginia Lee Corbin,actress,Louise Trelawney,2.0
1167783,Treasure Island,1918,Raymond Lee,actor,Bit Role,NaN
1364998,Treasure Island,1918,Buddy Messinger,actor,Captain Smolett,6.0
...,...,...,...,...,...,...
866136,Treasure Island,1999,Pat Healy,actor,Clark,4.0
1273059,Treasure Island,1999,J.P. Manoux,actor,Officer Hughes,18.0
411804,Treasure Island,1999,Becket Cook,actor,The Gent,13.0
104905,Treasure Island,1999,Lance (II) Baker,actor,Frank,1.0
283873,Treasure Island,1999,Bob Byington,actor,Thomas,12.0

In [22]:
#Question 2.3
#Question: How many roles were credited in the silent 1921 version of Hamlet?

#Will use the same principle as the previous question
hamlets = cast.groupby('title').get_group('Hamlet') # Using the groupby method to divide the dataframe by movie
# titles, and saving the group that matches 'Hamlet' into a new variable
hamlets1921 = sum(hamlets.year == 1921) # Counting the number of records (in 'hamlets') which were created in 1921. This would
# mean that the record refers to the same movie ('Hamlet', created in 1921). Saving the result in a new variable.
# The sum in turn is the number of roles credited in the movie (which was asked in the question)
print('There were', hamlets1921, 'roles credited in the silent 1921 version of Hamlet') # printing the result

There were 9 roles credited in the silent 1921 version of Hamlet